.first-section {
    position: relative;
    margin: auto;
    top: 0;
    background-color:  #4553ed;
    height: 550px;
}

.background {
    position: relative;
}

.main-bg {
    width: 100%;
    height: 550px;
}

.left-img {
    display: flex;
    position: absolute;
    top: 193px;
    left: -150px;
    width: 700px;
    height: auto;
}

.right-img {
    display: flex;
    position: absolute;
    top: 190px;
    right: 0px;
}

.first-section-info {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding-top: 90px;
    color: white;
    z-index: 100;
}

.imagine-a-place {
    font-size: 52px;
    font-weight: bold;
    font-family: 'Unbounded', cursive;
    margin-bottom: 15px;
}

.desc {
    display: inline-block;
}

.title-description {
    width: 800px;
    font-size: 19px;
    line-height: 30px;
    font-weight: 500;
}

.use-section {
    width: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    justify-content: center;
    margin-top: 24px;
}


.download-icon {
    width: 17px;
    padding-right: 10px;
}

.download-btn,
.open-btn {
    width: 290px;
    height: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border: 0;
    border-radius: 28px;
    font-size: 19px;
}

.download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    background-color: white;
    transition: all ease-in-out 0.3s;
}

.download-btn:hover {
    color: #7529bd;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.open-btn {
    width: 300px;
    color: white;
    background-color: #23272a;
    transition: all ease-in-out 0.3s;
}

.open-btn:hover {
    background-color: #424343;
    box-shadow: 0px 10px 10px rgba(94, 93, 93, 0.3);
    cursor: pointer;
}