.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #4553ed;
    height: 80px;
}

.logo-text {
    display: flex;
    align-content: center;
    margin-left: 300px;
}

.logo-text:hover {
    cursor: pointer;
}

.image-logo {
    width: 30px;
    margin-right: 10px;
}

.image-text {
    width: 80px;
}

.text {
    display: flex;
    align-items: center;
}

.nav-bar {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.nav-option {
    color: white;
    font-size: 16px;
    font-weight: 550;
    margin-right: 35px;
    transition: all ease-in-out 0.2s;
}

.nav-option:hover {
    text-decoration: underline;
    cursor: pointer;
}

.login-btn {
    margin-left: 200px;
    color: black;
    background-color: white;
    border: 0;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 14px;
    width: 65px;
    transition: all ease-in-out 0.3s;
}

.login-btn:hover {
    color: #4553ed;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}