.second-section {
    margin: auto;
    width: 100%;
    height: 500px;
    background-color: white;
    margin-top: 110px;
    margin-bottom: 80px;
}
.second-section-div {
    display: grid;
    grid-template-columns:65% 35%;
    align-items: center;
    justify-content: center;
}

.second-img {
    display: flex;
    justify-content: right;
    margin-right: 150px;
}

.second-section-img {
    width: 700px;
    margin: 0;
}

.second-section-title {
    display: flex;
    margin-top: -80px;
    

}

.second-title {
    margin-bottom: 0;
    line-height: 1.15;
    font-size: 48px;
    font-weight: bold;
    width: 400px;
    color: #23272a;
    font-family: gg sans,Noto Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.second-description {
    margin-top: 24px;
    display: block;
    width: 400px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color: rgb(78, 78, 78);
}